Repository reactjs/ar.react.dev, pull requests merged in 2019-02, with the labels that each got.

#8 RTL Support
  src/components/ButtonLink/ButtonLink.js
  src/components/CodeEditor/CodeEditor.js
  src/components/CodeExample/CodeExample.js
  src/components/Layout/Layout.js
  src/components/LayoutFooter/ExternalFooterLink.js
  src/components/LayoutFooter/Footer.js
  src/components/LayoutHeader/DocSearch.js
  src/components/LayoutHeader/Header.js
  src/components/StickyResponsiveSidebar/StickyResponsiveSidebar.js
  src/pages/index.js
  src/templates/components/NavigationFooter/NavigationFooter.js
  src/templates/components/Sidebar/Section.js
  src/templates/components/Sidebar/Sidebar.js
  src/theme.js
  src/utils/createLink.js
Labels: needs-review

#9 Translating introducing-jsx.md
  content/docs/introducing-jsx.md
  gatsby-config.js
  src/components/MarkdownPage/MarkdownPage.js
Labels: needs-review

#11 Translating components-and-props.md
  content/docs/components-and-props.md
Labels: needs-review

#17 Translating "forms" page, and a typo fixed
  README.md
  content/docs/forms.md
  yarn.lock
Labels: approved

#23 Change document language & set the dir attribute once
  src/components/Layout/Layout.js
  src/components/LayoutFooter/Footer.js
  src/components/LayoutHeader/DocSearch.js
  src/components/LayoutHeader/Header.js
  src/html.js
  src/pages/index.js
  yarn.lock
Labels: needs-review

#21 Translating 'handling-events.md'
  content/docs/handling-events.md
Labels: needs-review, work-in-progress
