Repository reactjs/ar.react.dev, pull requests merged in 2019-03, with the labels that each got.

#28 Update README.md
  README.md
Labels: work-in-progress

#31 Translating 'thinking-in-react.md'
  content/docs/thinking-in-react.md
Labels: in-review, work-in-progress

#33 Translating 'marketing folder'
  content/home/marketing/component-based.md
  content/home/marketing/declarative.md
  content/home/marketing/learn-once-write-anywhere.md
Labels: approved

#35 Let contributors know we're using Hsoub's translation
  CONTRIBUTING.md
Labels: approved

#53 Done Translating-lists-and-keys.md
  .gitignore
  content/docs/lists-and-keys.md
Labels: approved

#43 Translating reference react dom.md
  content/docs/reference-react-dom.md
Labels: approved

#39 Translate Header
  src/components/LayoutHeader/DocSearch.js
  src/components/LayoutHeader/Header.js
Labels: approved

#38 Translate Home Page banner and page title
  src/pages/index.js
Labels: in-review, work-in-progress

#36 Translate home page examples
  content/home/examples/a-component-using-external-plugins.md
  content/home/examples/a-simple-component.md
  content/home/examples/a-stateful-component.md
  content/home/examples/an-application.md
Labels: approved

#25 Translating 'lifting-state-up.md'
  content/docs/lifting-state-up.md
Labels: approved

#37 Translate footer
  content/community/nav.yml
  content/docs/nav.yml
  src/components/LayoutFooter/Footer.js
Labels: changes-requested, in-review, work-in-progress

#54 Translating getting-started.md
  content/docs/getting-started.md
Labels: approved

#48 Done Translating-reference-test-renderer.md
  content/docs/reference-test-renderer.md
Labels: approved
