Repository reactjs/ar.react.dev, pull requests merged in 2019-05, with the labels that each got.

#29 Translating 'composition-vs-inheritance.md'
  content/docs/composition-vs-inheritance.md
Labels: in-review, work-in-progress

#40 Done Translating-reference-react-component.md
  content/docs/reference-react-component.md
Labels: in-review, work-in-progress

#44 Done Translating-reference-dom-elements.md
  .gitignore
  content/docs/reference-dom-elements.md
Labels: changes-requested, in-review, work-in-progress

#78 [Done] React without JSX
  content/docs/nav.yml
  content/docs/react-without-jsx.md
  content/docs/reference-react.md
Labels: approved

#80 [DONE] typechecking-with-proptypes.md translation
  content/docs/typechecking-with-proptypes.md
Labels: approved

#79 Start Translating typechecking-with-proptypes.md
  content/docs/typechecking-with-proptypes.md
Labels: work-in-progress

#55 Translating add-react-to-a-website.md
  content/docs/add-react-to-a-website.md
Labels: approved

#83 [DONE] Translate AJAX and APIs FAQ Page reference to faq-ajax.md
  content/docs/faq-ajax.md
Labels: approved

#86 [Done] Translating FAQ reference to faq-styling.md
  content/docs/faq-styling.md
Labels: approved

#85 [Done] Translation of FAQ reference to faq-state.md
  content/docs/faq-state.md
Labels: approved

#70 Translated cdn-links page
  content/docs/cdn-links.md
Labels: in-review, work-in-progress

#88 [Done] translating faq-structure.md
  content/docs/faq-structure.md
Labels: approved
