Repository reactjs/ar.react.dev, pull requests merged in 2019-04, with the labels that each got.

#22 Translating conditional-rendering.md
  content/docs/conditional-rendering.md
Labels: changes-requested, in-review, work-in-progress

#32 Translating 'reference-react.md'
  content/docs/reference-react.md
Labels: changes-requested, in-review, work-in-progress

#56 Translating create-a-new-react-app.md
  content/docs/create-a-new-react-app.md
Labels: approved

#58 Done Translating-hooks-overview.md
  content/docs/hooks-overview.md
Labels: in-review, work-in-progress

#61 Done Translate-hooks-rules.md
  content/docs/hooks-rules.md
Labels: in-review, work-in-progress

#65 Done Translating-code-splitting.md
  content/docs/code-splitting.md
Labels: approved

#66 Done Translating-context.md
  content/docs/context.md
Labels: approved

#67 Error Boundaries Page
  content/docs/error-boundaries.md
Labels: in-review, work-in-progress

#60 Translating hooks-effect.md
  content/docs/hooks-effect.md
Labels: approved

#74 Done Translating-fragments.md
  content/docs/fragments.md
Labels: in-review
