Repository reactjs/ar.react.dev, pull requests merged in 2019-06, with the labels that each got.

#89 [Done] Translation of static-type-checking.md
  content/docs/static-type-checking.md
Labels: approved

#92 [Done] Translation of strict-mode.md
  content/docs/strict-mode.md
Labels: approved

#94 [Done] Translation of web-components.md
  content/docs/web-components.md
Labels: in-review, work-in-progress

#93 Translating - React without ES6
  content/docs/react-without-es6.md
Labels: approved

#96 [Done] Start translating "Optimizing Performance"
  content/docs/nav.yml
  content/docs/optimizing-performance.md
Labels: in-review, work-in-progress

#99 [Done] Translate "Reconciliation"
  content/docs/nav.yml
  content/docs/reconciliation.md
Labels: in-review

#101 [Done] Translation of portals.md ..
  content/docs/portals.md
Labels: approved

#102 [Done] Translation of intergrating-with-other-libraries.md ..
  content/docs/integrating-with-other-libraries.md
Labels: approved

#103 [Done] Translation of jsx-in-depth.md ..
  content/docs/jsx-in-depth.md
Labels: approved

#91 Translated forwarding-refs
  content/docs/forwarding-refs.md
Labels: in-review, work-in-progress

#107 Make some micro-fixes in home page
  content/home/examples/a-component-using-external-plugins.md
  content/home/examples/a-stateful-component.md
  content/home/examples/an-application.md
  content/home/marketing/component-based.md
  content/home/marketing/declarative.md
  content/home/marketing/learn-once-write-anywhere.md
Labels: approved

#105 [Done] Translating Render props
  content/docs/nav.yml
  content/docs/render-props.md
Labels: work-in-progress

#108 translate refs-and-the-dom
  content/docs/refs-and-the-dom.md
Labels: approved

#51 Translating reference-glossary.md
  content/docs/reference-glossary.md
Labels: approved

#57 Done Translating-hooks-intro.md
  content/docs/hooks-intro.md
Labels: approved

#59 Done Translating-hooks-state.md
  content/docs/hooks-state.md
Labels: approved

#63 Done Translating-hooks-custom.md
  content/docs/hooks-custom.md
Labels: approved

#64 Translating accessibility.md
  content/docs/accessibility.md
Labels: approved

#49 Translating reference-javascript-environment-requirements.md
  content/docs/reference-javascript-environment-requirements.md
Labels: approved

#46 Done Translating-addons-test-utils.md
  content/docs/addons-test-utils.md
Labels: approved

#110 [Done] translate components
  src/components/CodeEditor/CodeEditor.js
  src/components/CodeExample/CodeExample.js
  src/components/ErrorDecoder/ErrorDecoder.js
  src/components/LayoutHeader/Header.js
  src/components/LayoutHeader/SearchSvg.js
Labels: approved

#10 Translating rendering-elements.md
  content/docs/rendering-elements.md
  src/components/CodeEditor/CodeEditor.js
  src/components/ErrorDecoder/ErrorDecoder.js
Labels: update needed, work-in-progress

#114 [Done] Translation of faq-internals.md ( FAQ / Virtual DOM and Internals )
  content/docs/faq-internals.md
Labels: in-review

#113 [Done] translate community/support (related to #117)
  content/community/support.md
Labels: approved
