Repository reactjs/ar.react.dev, pull requests merged in 2020-01, with the labels that each got.

#215 [Done] Translation of web-components.md <fix />
  content/docs/web-components.md
Labels: approved

#213 [WIP] style: format
  content/docs/code-splitting.md
Labels: changes-requested, update needed

#208 [DONE] Translated "Suspense for Data Fetching"
  content/docs/concurrent-mode-suspense.md
Labels: approved

#216 Review translation & clean-up
  content/docs/error-boundaries.md
Labels: in-review

#221 [Done] Translation of meetups.md v2 ..
  content/community/meetups.md
Labels: approved

#218 [DONE] Translating "Adopting Concurrent Mode"
  content/docs/concurrent-mode-adoption.md
Labels: approved

#227 Fix typos & review translation
  content/docs/cdn-links.md
Labels: approved
