Repository reactjs/ar.react.dev, pull requests merged in 2023-05, with the labels that each got.

#465 [DONE]: Translating "Quick Start / Index Page"
  src/content/learn/index.md
Labels: approved

#479 Translating `Editor-Setup.md`
  src/content/learn/editor-setup.md
  src/sidebarLearn.json
Labels: approved

#474 [Done] Translate `Start a New React Project`
  src/content/learn/start-a-new-react-project.md
  src/sidebarLearn.json
Labels: approved

#477 translate reference react index page
  src/content/reference/react/index.md
Labels: in-review

#475 [DONE]: Translation of Installation
  src/content/learn/installation.md
  src/sidebarLearn.json
Labels: approved

#476 [Done] Translate `React Developer tools`
  src/content/learn/react-developer-tools.md
  src/sidebarLearn.json
Labels: need-review
