Repository reactjs/ar.react.dev, pull requests merged in 2023-06, with the labels that each got.

#473 [DONE] Translate `Add React to an existing project`
  src/content/learn/add-react-to-an-existing-project.md
  src/sidebarLearn.json
Labels: need-review

#487 Translate `<option>` page [UPDATED]
  src/content/reference/react-dom/components/option.md
Labels: approved

#483 useId page translation
  src/content/reference/react/useId.md
Labels: need-review

#466 [DONE] Translated "Thinking in React"
  src/content/learn/thinking-in-react.md
Labels: update needed

#481 Translating `Importing and Exporting Compoenents`
  src/content/learn/importing-and-exporting-components.md
  src/sidebarLearn.json
Labels: approved

#478 [Done] Translate `Render and Commit`
  src/content/learn/render-and-commit.md
  src/sidebarLearn.json
Labels: need-review

#480 Translateing `Writing-markup-with-jsx.md`
  src/content/learn/writing-markup-with-jsx.md
  src/sidebarLearn.json
Labels: approved

#489 [Done] Translating `useDebugValue`
  src/content/reference/react/useDebugValue.md
Labels: approved

#472 [DONE]: Translate `Describing the UI` page
  src/content/learn/describing-the-ui.md
Labels: in-review

#491 [DONE] translate <progress> page
  src/content/reference/react-dom/components/progress.md
Labels: approved

#488 [DONE]: Translate `Your First Component`
  src/content/learn/your-first-component.md
  src/sidebarLearn.json
Labels: approved

#469 [DONE] Translate tutorial-tic-tac-toe into Arabic
  src/content/learn/tutorial-tic-tac-toe.md
  src/sidebarLearn.json
Labels: approved

#498 [DONE]: Translate `JavaScript in JSX with Curly Braces`
  src/content/learn/javascript-in-jsx-with-curly-braces.md
  src/sidebarLearn.json
Labels: approved

#499 Improve translation of `Javascript in JSX with curly braces`
  src/content/learn/javascript-in-jsx-with-curly-braces.md
Labels: approved
